#big {
    font-size: 4em;
}

#nav {
    position: fixed;
    z-index: 33;
    background-color: rgba(255, 255, 255, 0.1);
}

#nav img {
    width: 100px;
}

.nav-item a {
    color: #fff !important;
    font-weight: 700;
    font-size: 0.9em;
}

.nav-item a:hover {
    color: #54a75a !important;
}

.bluetxt {
    color: #337ab7;
}

.smalltxt {
    font-size: 0.85em;
}

.underhover:hover {
    text-decoration: underline !important;
}

#sidefix {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 85%;
    left: 93%;
    border-radius: 40%;
    background-color: #05316a;
}
